<launch>

        <!-- this file is auto generated using pedsim_gazebo_plugin pkg -->  
        
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(find pedsim_gazebo_plugin)/worlds/social_contexts.world"/>
         </include>
         
         <!-- this node spawn pedsim actors to gazebo once, then the plugin updates their pose -->  
         <node pkg="pedsim_gazebo_plugin" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents"  output="screen">
         </node>

        <include file="$(find pmb2_gazebo)/launch/pmb2_spawn.launch">
            <arg name="gzpose" default="-x 0 -y 0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>
            <arg name="laser_model"  default="sick-571"/>
            <arg name="rgbd_sensors"  default="false"/>
        </include>

</launch>